.card-list {
  max-width: 1440px;
  margin: auto;
  padding: 35px 80px 110px 80px;
  margin-top: -140px;
}

.card-list__title {
  font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
  font-size: 36px;
  line-height: 47px;
  font-weight: 400;
  color: #393939;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}

.card-list__name {
  font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
  font-size: 36px;
  line-height: 47px;
  font-weight: 400;
  color: #cc8528;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.card-list__subtitle {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  color: #000;
  margin: 24px 0 44px;
  padding: 0;
}

.card-list__list {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 64px;
}

.card-list__text {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  color: #000;
  margin: 64px 0 44px;
  padding: 0;
  text-align: center;
}

.card-list__offers {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.card-list__offer {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  color: #cc8528;
  border: 1px solid #cc8528;
  border-radius: 8px;
  background-color: #fff;
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 302px;
  height: 67px;
  cursor: pointer;
}

.card-list__offer:hover {
  background-color: #FFE8CB;
  transition: background-color 0.2s linear;
}

.card-list__offer:active {
  background-color: #804901;
  color: #fff;
}

.card-list__offer-link {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
