.map {
    max-width: 1280px;
    margin: auto;
    padding: 160px 80px 160px;
}

.map__container {
    display: flex;
    justify-content: space-between;
}

.map__left-column {
    display: flex;
    flex-direction: column;
}

.map__title {
    max-width: 411px;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 24px;
    line-height: 29px;
    font-weight: 400;
    color: #000;
    margin: 0;
    padding: 0;
    margin-bottom: 12px;
}

.map__clear-filters {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 17px;
    font-weight: 500;
    color: #CC8528;
    border: none;
    background: none;
    align-self: flex-end;
    margin: 0;
    padding: 0;
    margin-bottom: 35px;
    cursor: pointer;
}

.map__checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    color: #000;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    margin-bottom: 48px;
    padding-left: 32px;
}

.map__checkbox input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
}

.map__checkmark {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    background-color: #fff;
    border: 1px solid #0A3655;
    box-sizing: border-box;
    border-radius: 4px;
    cursor: pointer;
}

.map__checkbox input:checked ~ .map__checkmark {
    background-color: #0A3655;
}

.map__checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.map__checkbox input:checked ~ .map__checkmark:after {
    display: block;
}

.map__checkbox .map__checkmark:after {
    left: 7px;
    top: 3px;
    width: 5px;
    height: 13px;
    border: solid #fff;
    border-width: 0 1px 1px 0;
    transform: rotate(45deg);
}

.map__question-mark {
    margin-left: 10px;
    cursor: pointer;
}

.map__button {
    width: 411px;
    height: 72px;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 24px;
    line-height: 29px;
    font-weight: 300;
    color: #C9A575;
    background-color: #EEC288;
    transition: background-color 0.2s linear;
    border: none;
    border-radius: 8px;
    margin: 0;
    padding: 10px;
    cursor: pointer;
    margin-top: 18px;
}

.map__button_active {
    color: #fff;
    background-color: #CC8528;
}

.map__button:hover {
    color: #fff;
    background-color: #C67000;
}

.map__button:active {
    color: #fff;
    background-color: #814901;
}

.map__right-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.map__search {
    position: relative;
}

.map__search-input {
    width: 411px;
    height: 64px;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 24px;
    line-height: 29px;
    font-weight: 300;
    color: #737373;
    background-color: #EBEBEB;
    border: none;
    border-radius: 16px;
    margin: 0;
    padding: 10px 10px 10px 60px;
    outline-color: #CC8528;
    margin-bottom: 64px;
}

.map__search-icon {
    position: absolute;
    top: 10px;
    left: 10px;
}

.map__chart {
    width: 845px;
    height: 550px;
    margin-top: -30px;
}
