.header__overlay {
    width: 1440px;
    height: 822px;
    display: flex;
    flex-direction: column;
    background-image: url("/src/images/idaho.png");
  } 
  
  @keyframes sliding {
    30% {
      transform: translateX(0);
    }
    35% {
      transform: translateX(width);
    }
    65% {
      transform: translateX(width);
    }
    70% {
      transform: translateX(width * 2);
    }
    98% {
      transform: translateX(width * 2);
    }
    100% {
      transform: translateX(0);
    }
  }